/ruoyi-ui
/sdk/uploads/compare
/sdk/uploads/compare
/sdk/uploads/ocr-compare/results
/compareScript/results
/sdk/uploads/compare
/compareScript/logs
/sdk/uploads/compose
/sdk/uploads/templates
/sdk/backend/uploads/gpu-ocr-compare/results
/cankao
/dots.ocr-master
/sdk/uploads/gpu-ocr-compare
/sdk/uploads
/sdk/tasks
/contract-tools-sdk/uploads/compare-pro/tasks
/contract-tools-sdk/uploads/extract-tasks
/contract-tools-sdk/uploads/compare-pro/results
